<p-table class="flex-item" [value]="auctionItems()" [rowTrackBy]="trackByAuction" [tableStyle]="{ 'min-width': '50rem' }"
         [sortField]="'CreatedAt'"
         [sortOrder]="1"
         [loading]="isLoading()"
         [(selection)]="selectedAuction"
         (onRowSelect)="onRowSelect($event)"
         selectionMode="single"
         rowHover="true"
         stripedRows>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Auction [SELLS]
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Seller Name</th>
      <th>Item Name</th>
      <th>Price Per Unit</th>
      <th>Quantity</th>
      <th>ObjectId</th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr [pSelectableRow]="product">
      <td>{{ product.sellerName }}</td>
      <td>{{ product.itemName }}</td>
      <td>{{ product.pricePerUnit | number:'1.0-0' }}</td>
      <td>{{ product.count }}</td>
      <td>{{ product.commissionId }}</td>
    </tr>
  </ng-template>
</p-table>


<p-dialog [(visible)]="displayChart" [modal]="true" [closable]="true" header="Graphic"
          [contentStyle]="{ 'width': '50rem', 'height': '20rem' }"
          [dismissableMask]="true"
          class="custom-dialog">

  <div class="chart-wrapper">
    <p-chart type="line" [data]="chartData()" class="chart-full" width="100%" height="100%" draggable="false"></p-chart>
  </div>
</p-dialog>
